@page "/superhero/{id:int}"
@inject ISuperHeroService SuperHeroService

@if (superHero == null)
{
    <span>Detail of Hero is loading...</span>
}
else
{
    <h3>This is @superHero.HeroName, also called @superHero.FirstName @superHero.LastName</h3>
    <span>This hero belongs to @superHero.Comic.Name</span>
}


@code {
    [Parameter]
    public int Id { get; set; }

    SuperHeroDatabase.Shared.SuperHero superHero = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("This is the Id -> " + Id);
        superHero = await SuperHeroService.GetSuperHero(Id);
    }
}
